*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

nav {
    position: fixed;
    top: 0;
    width: 100%; 
    height: auto;
    background: transparent;
    z-index: 1000;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    outline: 2px solid red;
}

nav ul li {
    outline: 2px solid blue;
    margin: 0 20px;
    padding: 10px 0;
    height: 50px;
}

nav ul li a {
    outline: 2px solid green;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
}

/*
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    justify-content: center;
    align-items: center;
}
*/
.section_container{
    width: 100%;
    max-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    outline: 2px solid rgb(100, 8, 8);
}

/*Hero Section*/
#Hero {
    /*background-color: aquamarine;*/
    height: 80vh;
    outline: 2px solid black;
    background-color: rgba(245, 222, 179, 0.486);

}
.Hero_wrapper {
 position: relative;
 width: 100%;
 height: 80vh;
 overflow: hidden;
 outline: 2px solid orange;


}

.hero_bread {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    object-fit: cover;
    z-index: 1; /* Push it behind everything */
    opacity: 0.9; /* Optional: dim the image for contrast */
    outline: 2px solid salmon;
    clip-path: ellipse(95% 60% at 10% 0%);
}


.Hero_box{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    height: 300px;
    gap: 20px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 2;
    /*outline: 2px solid rgb(255, 255, 255);*/
}
.Hero_text {
    width: 60%;
    height: auto;
    /*outline: 2px solid rgb(0, 42, 255);*/
}
.Hero_text h1 {
    font-size: 5em;
    color: #faf7f3;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}

.Hero_text p {
    font-size: 1.8em;
    color: #f0eae7;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.Hero_imagebox {
    outline: 2px solid red;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero_image1{
    height: 1000px;
    width: 100%;
  max-width: 100%;
  border: 4px solid whitesmoke;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); /* adds depth */
  transform: scale(1.05); /* slight zoom */
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}


/*global for section*/
.section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid red;
    height: 100%;
    padding: 20px;
}

/*Products Section*/
#Products {
    height: 50vh;
    padding: 30px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: rgba(245, 222, 179, 0.298);
    text-align: center ;
}

.Products_container{
    outline: 2px solid rgb(18, 70, 239);
    width: 100%;
    height: auto;
}

.Products_text {
    font-size: 2em;
    color:##707070;
    outline: 2px solid green;
}
.Products_carousel {
    overflow: hidden;
    position: relative;
    color:#7c756c;
    outline: 2px solid rgba(221, 246, 36, 0.453);
}
.Products_track {
    display:  flex;
    flex-direction: row;
    flex-wrap: nowrap;
    will-change: transform;
    transition: transform 0.3s ease;
    outline: 2px solid rgba(92, 228, 13, 0.453);
    gap: 20px;
    margin: 10px;
    user-select: none;
    cursor: grab;
}
.Carousel_items{
     flex: 0 0 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    outline: 2px solid rgba(246, 166, 36, 0.453);
}

.Carousel_items img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.Products_nav {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
}

.dot.active {
  background-color: #333;
  opacity: 1;
}
.Products_button {
    width: 150px;
    height: 40px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.Products_button p {
    font-size: 1em;
    color: #faf7f3;
}
/*About Section*/
#About {
    height: 80vh;
    background-color: rgba(245, 222, 179, 0.236);
    margin: 10px 60px;
    outline: 2px solid rgb(84, 208, 246);
}

.About_container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    outline: 2px solid rgb(246, 84, 84);


}
.About_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    outline: 2px solid white;
    justify-content: center;
    text-align: left;

    
}
.About_text h1 {
    font-size: 3em;
    color: #050505;
    padding: 20px;
}
.About_text p{
    font-size: 1.2em;
    color: #000000;
    padding: 20px;
}
.About_button {
    width: 30%;
    height: auto;
    background-color: #000000;
    cursor: pointer;
   text-align: left;
   margin: 0 0 0 20px;

    
}
.About_button p {
    font-size: 1.3em;
    color: #e9e5e5;
    text-align: center;
    padding: 15px;


}
.About_image {
    width: 100%;
    height: auto;
}

.About_image img {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

/*Recipe Section*/
#Recipe {
    height: 70vh;
    width: auto;
    margin: 0 200px;
    background-color: rgba(245, 222, 179, 0.127);
}
#Recipe h1{
    text-align: center;
    font-size: 2em;
}
.Recipe_container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between; 
  align-items: center;
  gap: 20px; 
}

.Recipe_flexitem {
  flex: 1; 
  padding: 20px;
  background-color: #f5deb3;
  text-align: center;
  border-radius: 10px;
  height: auto;
}
.Recipe_fleximage {
    width: 100%;
    height: auto;
}
.Recipe_flextext {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    outline: 2px solid white;
    justify-content: center;
    text-align: left;
}
.Recipe_flextext h3 {
    font-size: 2em;
    padding: 20px;
}
.Recipe_flextext p {
    font-size: 1em;
    padding: 5px 10px;
    margin: 0 10px;
}
.Recipe_button {
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    text-align: right;
}
.Recipe_button p {
    text-align: center;
}
/*Contact Section*/
#Contact {
    height: 100vh;
    background-color: rgb(197, 164, 119);
}