
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    font-variation-settings: "opsz" 12;
    font-style: normal;
    line-height: 1.6;
    overflow-x: hidden;
}
.nav_container {
    position: fixed;
    top: 0;
    width: 100%; 
    height: auto;
    background: rgba(61, 47, 36, 0.514);
    z-index: 1000;
    left:0;
    right:0;
}

.nav_links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

}
.status {

    display: flex;
}
.status p {
    font-size: 2em;
    color: rgb(255 226 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav_links li {
    margin: 0 20px;
    padding: 10px 20px;
    height: 50px;
}
.nav_links li:hover {
    background-color: rgba(247, 188, 115, 0.089);
    transition: background-color 0.3s ease;
    border-radius: 20px;
}


.nav_links li a {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
}
/*hidden burger at default*/
.burger_menu {
    flex-direction: column;
    cursor: pointer;
    padding: 10px 20px;
    gap: 5px;
    display: none;
}
.burger_line {
    width: 60px;
    height: 10px;
    background-color: #faf7f3;
}


.section_container{
    width: 100%;
    max-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    /*outline: 2px solid rgb(100, 8, 8);*/

}

/*Hero Section*/
#Hero {
    height: 85vh;   
    background-color: rgba(245, 222, 179, 0.486);

}
.Hero_wrapper {
 position: relative;
 width: 100%;
 height: 80vh;
 overflow: hidden;
 /*outline: 2px solid orange;*/


}

.hero_bread {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    object-fit: cover;
    z-index: 1; /* Push it behind everything */
    opacity: 0.9; /* Optional: dim the image for contrast */
    /*outline: 2px solid salmon;*/
    clip-path: ellipse(95% 60% at 10% 0%);
}


.Hero_box{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    height: 300px;
    gap: 20px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 2;
    /*outline: 2px solid rgb(255, 255, 255);*/
}
.Hero_text {
    width: 60%;
    height: auto;
    opacity: 0;
    filter: blur(10px);
    transition: transform 1.5s ease, opacity 800ms ease; /* Base hidden state */
    transform: translateX(-20%);              /* Base hidden state */
}

.Hero_text.show {
    transform: translateX(0);
     opacity: 1;
     filter: blur(0);

}


.Hero_text h1 {
    font-size: 5em;
    color: #faf7f3;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.Hero_text p {
    font-size: 1.3em;
    font-family: "Playfair", serif;
    color: #faf7f3;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 110.4;
}
.Hero_imagebox {
    /*outline: 2px solid red;*/
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero_image1{
  height: 1000px;
  width: 100%;
  max-width: 100%;
  border: 4px solid whitesmoke;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); 
  border-radius: 20px;
  opacity: 0;                                           /* Base hidden state */
  transition: transform 1.5s ease, opacity 800ms ease; /* Base hidden state */
  transform: translateX(100%);              /* Base hidden state */
}
.hero_image1.show {
    transform: scale(1.05) translateX(0);
     opacity: 1;
     transition-delay: 0.1s;

}


/*global for section*/
.section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*outline: 2px solid red;*/
    height: 100%;
    padding: 20px;
}

/*Products Section*/
#Products {
    height: 50vh;
    padding: 30px 0;
    box-shadow: 
        inset 0 8px 8px rgba(0, 0, 0, 0.2), 
        inset 0 -8px 8px rgba(0, 0, 0, 0.2);  
    background-color: rgba(245, 222, 179, 0.369);
    text-align: center ;
}



.Products_container{
    /*outline: 2px solid rgb(18, 70, 239);*/
    width: 100%;
    height: auto;
}


.Products_text {
    font-size: 2em;
    color:#050505;
    /*outline: 2px solid green;*/
    opacity: 1;
        transform: scale(0.8) rotateX(10deg);
    filter: blur(4px);
    transition: all 0.9s ease-out;
    will-change: transform, opacity, filter;
}
.Products_text.show {
    opacity: 1;
    transform: scale(1) rotateX(0deg);
    filter: blur(0);
    transition-delay: 0.2s;
}

.Products_text h1 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}


.Products_carousel {
    overflow: hidden;
    position: relative;
    color:#7c756c;
    /*outline: 2px solid rgba(221, 246, 36, 0.453);*/
}
.Products_track {
    display:  flex;
    flex-direction: row;
    flex-wrap: nowrap;
    will-change: transform;
    transition: transform 0.3s ease;
    /*outline: 2px solid rgba(92, 228, 13, 0.453);*/
    gap: 20px;
    margin: 10px;
    user-select: none;
    cursor: grab;
}
.Carousel_items{
     flex: 0 0 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    /*outline: 2px solid rgba(246, 166, 36, 0.453);*/
}

.Carousel_items img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.Products_nav {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
}

.dot.active {
  background-color: #333;
  opacity: 1;
}
.Products_button {
    width: 150px;
    height: 40px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.Products_button p {
    font-size: 1.3em;
    color: #faf7f3;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
/*About Section*/
#About {
    min-height: 80vh;
    background-color: rgba(245, 222, 179, 0.18);
    padding: 10px 60px;
  overflow-wrap: break-word;
}

.About_container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    /*outline: 2px solid rgb(246, 84, 84);*/


}
.About_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /*outline: 2px solid white;*/
    justify-content: center;
    text-align: left;

    
}
.About_text h1 {
    font-size: 3.9em;
    color: #050505;
    padding: 20px;
     font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.About_text p{
    font-size: 1.2em;
    color: #000000;
    padding: 20px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.About_button {
    width: 30%;
    height: auto;
    background-color: #000000;
    cursor: pointer;
   text-align: left;
   margin: 0 0 0 20px;

    
}
.About_button p {
    font-size: 1.3em;
    color: #e9e5e5;
    text-align: center;
    padding: 15px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;


}
.About_image {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: transform 1.2s ease, opacity 800ms ease; /* Base hidden state */
    transform: translateX(10%);              /* Base hidden state */
}
.About_image.show {
    transform: translateX(0);
     opacity: 1;
     transition-delay: 0.1s;

}

.About_image img {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

/*Recipe Section*/
#Recipe {
    min-height: 70vh;
    width: auto;
    margin: 0 auto;
    background-color: rgba(249, 223, 177, 0.25);
    padding: 20px 50px;

}
#Recipe h1{
    text-align: center;
    font-size: 3.5em;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 40px;
}
.Recipe_container {
  display: flex;
  width: 70%;
  height: auto;
  margin: 0 auto;
  justify-content: space-between; 
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

.Recipe_flexitem {
  flex: 1; 
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: rgba(249, 223, 177, 0.101);
  text-align: center;
  border-radius: 10px;
  height: auto;
  opacity: 0;
  transition: transform 1.2s ease, opacity 800ms ease; /* Base hidden state */
    transform: translateX(10%); 
  transition: transform 1.3s ease, ;
  transform: scale(0.7);
}
.Recipe_flexitem.show{
    opacity: 1;
     transform: translateX(0);
     opacity: 1;
}
.Recipe_fleximage {
    width: 80%;
    height: auto;
}
.Recipe_flextext {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /*outline: 2px solid white;*/
    justify-content: center;
    text-align: left;
}
.Recipe_flextext h3 {
    font-size: 2.2em;
    padding: 20px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Recipe_flextext p {
    font-size: 1em;
    padding: 5px 10px;
    margin: 0 10px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}

/*Story Section*/
#Story {
display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  /*min-height: 80vh;*/
  background-color: rgba(240, 215, 169, 0.148);
  padding: 40px 60px;
  /*outline: 2px solid rgb(84, 208, 246);*/
    align-items: center

}

.Story_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;       /* ✅ Center children horizontally */
  text-align: center;
  width: 100%;
  max-width: 1250px;         /* ✅ Optional: control width */
  margin: 0 auto;            /* ✅ Center container itself */
  height: auto;
  /*outline: 2px solid rgb(246, 84, 84);*/


}
.Story_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /*outline: 2px solid white;*/
    justify-content: center;
    text-align: left;

    
}
.Story_text h1 {
    font-size: 4em;
    color: #050505;
    padding: 20px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Story_text p{
    font-size: 1.4em;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}

.Story_image {
    width: 80%;
    height: auto;
}

.Story_image img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(-100px) rotate(-10deg);
    transition: all 0.8s ease-out;
}

.Story_image img.show {
  opacity: .9;
  transform: translateX(0) rotate(0deg);
}


/*Contact Section*/

#Contact {
  position: relative;
  overflow: hidden;
  justify-content: space-between; 
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px 50px;
  min-height: 20vh;
  background-color: rgba(240, 215, 169, 0.148);
}
.Contact_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /*overflow: hidden;*/
}

.Contact_background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: ellipse(95% 100% at 10% 100%);
}
.Contact_container{
    position: relative;
    z-index: 1;
    display: flex;
    /*outline: 2px solid rgb(18, 70, 239);*/
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 100px;
}

.Contact_left {
    display: flex;
    /* flex: 2; */
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 10px;
    min-width: 450  px;
    /*outline: 2px solid red;*/
    text-align: left;

}
.Contact_left h1 {
    color:#ffffff;
    font-size: 2em;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.Contact_left p {
    color:#ffffff;
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;

}

.Contact_right {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  gap: 10px;
  min-width: 300px;
  /*outline: 2px solid red;*/
  text-align: left;

}

.Contact_column {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
    line-height: 40px;
}
.Contact_column h1 {
    color:#ffffff;
    font-size: 2em;
  text-decoration: none;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;

}
.Contact_column a{
    color:#ffffff;
    font-size: 1.2em;
  text-decoration: none;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.Contact_column p{
    color:#ffffff;
    font-size: 1.2em;
  text-decoration: none;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.form_column {
    display: flex;
    flex-direction: column;
    /*outline: 2px solid red;*/
    width: 100%;
    height: auto;
    padding: 10px;
    align-items: left;
}

.form_column input{
    display: flex;
    width: 80%;
    height:30px;
    margin: 5px 5px;
}
.form_column textarea{
    display: flex;
    width: 90%;
    height:90px;
    margin: 5px 5px;
}

.form_column button {
    display: flex;
    width: 30%;
    height:30px;    
    margin: 5px 5px;
    justify-content: center;
    align-items: center;
    background-color: #f7ce17e0;
}

.form_column button:hover {
    background-color: #ffd518e3;
}

.fi {
  font-size: 30px;
  color:#ffffff;    
  transition: transform 0.3s ease;
}

.fi:hover {
  transform: scale(1.2);
}
.toast-success {
   background-color: #4caf4f96;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  font-size: 1em;
  color: black;
}

.toast-error {
   background-color: #af684c96;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
    font-size: 1em;
  color: black;
}
.success-message {
  color: rgb(30, 194, 227);
  font-weight: bold;
  margin-top: 10px;
}
/* Registration Container */
.Register_container {
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    background-color: #347ccf47;


}
.Register_within {
    display: flex;
    flex-direction: row;
    /*(outline: 2px solid red;*/
    width: 100%;
    height: 70vh;;
    padding: 20px;
    gap: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Register_left {
    flex:1;
    /*outline: 2px solid rgb(0, 136, 255);*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Register_right {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: 2px solid rgb(0, 30, 255);*/
    flex-direction: column;
}
.Register_right_column {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    line-height: 40px;
    /*outline: 2px solid lightblue;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Register_rightcontents {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
   
}
.Register_right_column input {
  width: 40%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.Register_right_column button {
  width: 20%;
  height: 40px;
  padding: 5px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}
.Register_right_column button:hover{
    background-color: rgba(255, 197, 8, 0.367);
}

/*--------------login css--------------*/
.Login_container {
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    background-color: rgba(187, 168, 134, 0.507);


}
.Login_within {
    display: flex;
    flex-direction: row;
    /*outline: 2px solid red;*/
    width: 100%;
    height: 70vh;;
    padding: 20px;
    gap: none;
    background-color: #ffffffce;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.Login_right {
    flex:1;
    /*outline: 2px solid rgb(0, 136, 255);*/
}
.Login_right_column{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}

.Login_right_img1{
    position:absolute;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.Login_right_img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    clip-path: ellipse(95% 60% at 10% 15%);
    box-shadow: inset 0 0 50px 20px rgba(255, 255, 255, 0.5);
}
.Login_right_img2{
    position:absolute;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 1;
    box-shadow: inset 0 0 50px 20px rgba(255, 255, 255, 0.5);
}
.Login_right_img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    box-shadow: inset 0 0 50px 20px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.Login_right_text{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 66vh;
    opacity: 1;
    z-index: 5;
    padding: 20px;
    justify-content: flex-end;
}
.Login_right_text h1 {
    font-size: 5em;
    font-style:oblique;
    color: rgb(255, 255, 255);
}
.Login_right_text p {
    font-size: 1.5em;
    font-style: oblique;
    color: rgba(252, 252, 252, 0.959);
}
.Login_left {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: 2px solid rgb(0, 30, 255);*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-direction: column;
}
.Login_left_column {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    line-height: 40px;
    /*outline: 2px solid lightblue;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Login_leftcontents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /*align-content: center;*/
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.Login_left_column input {
  width: 50%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.Login_left_column button {
  width: 20%;
  height: 40px;
  padding: 5px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.Login_left_column button:hover{
    background-color: rgba(255, 197, 8, 0.367);
}

/*Register CSS*/
.Register_container {
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    background-color: rgba(187, 168, 134, 0.507);


}
.Register_within {
    display: flex;
    flex-direction: row;
    /*outline: 2px solid red;*/
    width: 100%;
    height: 70vh;;
    padding: 20px;
    gap: none;
    background-color: #ffffffce;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.Register_right {
    flex:1;
    /*outline: 2px solid rgb(0, 136, 255);*/
}
.Register_right_column{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
}

.Register_right_img1{
    position:absolute;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 90%;
    z-index: 3;
}
.Register_right_img1 img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    clip-path: ellipse(95% 60% at 10% 15%);
    box-shadow: inset 0 0 50px 20px rgba(255, 255, 255, 0.5);
}
.Register_right_img2{
    position:absolute;
    object-fit: cover;
    display: flex;
    width: 100%;
    height: 91%;
    opacity: .8;
    z-index: 1;
    box-shadow: inset 0 0 50px 20px rgba(255, 255, 255, 0.5);
}
.Register_right_img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    box-shadow: inset 0 0 50px 20px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.Register_right_text{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: 66vh;
    opacity: 1;
    z-index: 5;
    padding: 20px;
    justify-content: flex-end;
    line-height: 1.1;

}
.Register_right_text h1 {
    font-size: 5em;
    font-style: oblique;
    color: rgb(255, 255, 253);
}
.Register_right_text p {
    font-size: 1.5em;
    font-style: oblique;
    color: rgba(24, 24, 24, 0.959);
}
.Register_left {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: 2px solid rgb(0, 30, 255);*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-direction: column;
}
.Register_left_column {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    line-height: 40px;
    /*outline: 2px solid lightblue;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Register_leftcontents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    outline: 2px solid rgb(51, 255, 0);
}
.Register_left_column input {
  width: 60%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  /*outline: 2px solid red;*/
}

.Register_left_column button {
  width: 20%;
  height: 40px;
  padding: 5px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.Register_placeholder {
    width: 73%;
    flex-direction: column;       /* label and input side by side */
    align-items: flex-start;       /* vertically align label and input */
    justify-content: center;   /* center the whole block horizontally */
    gap: 10px;                 /* spacing between label and input */
    margin-bottom: 5px;
    display: flex;
}

.Register_placeholder p {
    margin: 0;
    font-weight: bold;
    min-width: 80px;           /* optional: keeps label width consistent */
    text-align: left;         /* aligns label text to the right */
    padding-left: 10px;
}
.Register_placeholder input {
    width: 93%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    margin: 0 auto;
}


.Register_left_column button:hover{
    background-color: rgba(255, 197, 8, 0.367);
}


#Shop {
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
}

.Shop_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 70px 20px 70px;
    outline: 2px solid red;
}

.Shop_container h1 {
    font-size: 4em;
    padding: 5px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Shop_within {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*outline: 2px solid rgb(255, 0, 242);*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 50px;
    justify-content: center;
}
.Shop_card {
    flex: 0 1 250px;  /* dont grow , go shrink, base width is 250px */
    min-width: 250px;
    height: auto;
    padding: 20px;
    /*background-color: rgb(117, 113, 113);*/
    /*outline: 2px solid blue;*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    height: auto;
}
.Shop_card img {
    width: 90%;
    height: 150px;
    /*outline: 2px solid red;*/
}

.Shop_card_text {
    text-align: center;
}

.Shop_card_text h3 {
    font-size: 1.7em;
    padding: 5px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.Shop_card_text p {
    font-size: .9em;
    margin: 0 5px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
    
}
.Add_to_class {
    width: 50%;
    height: auto;
    border-radius: 5px;
    background-color: transparent;
}
.Add_to_class:hover {
    background-color: burlywood;
}

/*------------------------------Checkout CSS--------------------*/
.Checkout_container {
    display: flex;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 70px;
    background-color: #ffffff;
}

.Checkout_title {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
}

.Checkout_title h1 {
    color: #0c0c0c;
    margin: 0;
    padding: 20px;
}
.Checkout_within {
    display: flex;
    flex-direction: row;
    /*outline: 2px solid red;*/
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%;
    height: 70vh;
    padding: 20px;
    gap: none;
}
.Checkout_right {
    flex:1;
    /*outline: 2px solid rgb(0, 136, 255);*/
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.Checkout_right_column {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    line-height: 40px;
    /*outline: 2px solid lightblue;*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.Checkout_rightcontents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Checkout_left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: 2px solid rgb(0, 30, 255);*/
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    flex-direction: column;
}
.Checkout_left_column {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    line-height: 40px;
    /*outline: 2px solid lightblue;*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.Checkout_leftcontents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.Btn_checkout {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    background-color: transparent;
    font-size: .9em;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 600;

}
.Btn_checkout:hover {
    background-color: rgba(10, 184, 10, 0.384);
}


@media (max-width: 1200px)  { /*laptop view*/
.Login_left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     outline: 2px solid rgb(0, 30, 255); 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex-direction: column;
    } 
    .Login_left_column {
    width: 80%;
    height: 80%;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    /*line-height: 40px;*/
    outline: 2px solid lightblue;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
    .Login_leftcontents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* align-content: center; */
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    outline: 2px solid red;
    }

    .Register_placeholder {
    width: 60%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: none;
    margin-bottom: 3px;
    display: flex;
    outline: 2px solid green;
}
.Register_placeholder p {
    margin: 0;
    font-weight: bold;
    min-width: 80px;
    height: 15%;
    text-align: left;
    padding-left: 10px;
    outline: 2px solid salmon;
}

.Login_left_column button {
    width: 20%;
    height: 40px;
    padding: 0 5px;
    border: 1px solid #ff0606;
    border-radius: 8px;
    font-size: 1em;
}
.Register_placeholder input {
    width: 93%;
    height: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    margin: 0 auto;
}
}


@media (max-width: 1100px)  /* Tablet Landscape */{ 
    .Hero_text h1 {
    font-size: 3.8em;
    color: #faf7f3;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Hero_text p {
    font-size: 1.2em;
    font-family: "Playfair", serif;
    color: #050404;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.Hero_imagebox {
    /* outline: 2px solid red; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#About {
    min-height: 60vh;
    background-color: rgba(245, 222, 179, 0.18);
    padding: 10px 60px;
    /* outline: 2px solid rgb(84, 208, 246); */
}
.About_text h1 {
    font-size: 2.6em;
    color: #050505;
    padding: 20px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.About_text p {
    font-size: 1em;
    color: #000000;
    padding: 20px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.About_button p {
    font-size: .8em;
    color: #e9e5e5;
    text-align: center;
    padding: 15px;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.Recipe_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Recipe_fleximage {
    width: 20%;
    height: auto;
}
.Story_text h1 {
    font-size: 3em;
    color: #050505;
    padding: 20px;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Story_text p {
    font-size: 1.1em;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.Story_image {
    width: 60%;
    height: auto;
}
#Contact {
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 30px;
    min-height: 15vh;
    background-color: rgba(240, 215, 169, 0.148);
}
.Contact_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    /* overflow: hidden; */
}
.Contact_background img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    clip-path: ellipse(95% 100% at 10% 100%);
}
.Contact_container {
    gap: 50px;
}
.Contact_left h1 {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.Contact_left p {
    color: #ffffff;
    font-size: .9em;
    line-height: 2.5;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.Contact_column h1 {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
.Contact_column a {
    color: #ffffff;
    font-size: .9em;
    line-height: 2.5;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;
}
 }
@media (max-width: 800px)  /* Tablet Portrait */{ 
    .nav_links li {
        margin: 0 5px;
        padding: 10px 10px;
        height: 50px;
    }
    .nav_links li:hover {
        background-color: rgba(247, 188, 115, 0.089);
        transition: background-color 0.3s ease;
        border-radius: 20px;
    }
    .nav_links li a {
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 5px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: all 0.3s ease;
    }
    #Hero {
        height: auto
        /*min-height: 80vh;*/
    }
    .Hero_wrapper {
        position: relative;
        width: 100%;
        height: 80vh;
        overflow: hidden;
    }
    .Hero_box {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 650px; 
        gap: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .Hero_imagebox {
        position: absolute;
        top: 0;           
        left: 0;          
        width: 100%;      
        height: 100%;     
        z-index: 0;       
        opacity: 0.8
    }
    .hero_image1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: transform 1.5s 
        ease, opacity 800ms 
        ease;
        transform: translateX(100%);
        margin: 0 auto;
}
    
    .Hero_text {
        z-index: 3;
        position: relative;
    }
    .Hero_text h1 {
        font-size: 3em;
        color: #ffffff;
    }
    .Hero_text p {
        font-size: 1em;
        color: #ffffff;
        
    }
    .Carousel_items img {
        width: 80%;
        height: 140px;
        border-radius: 10px;
}
    .Products_text h1 {
        font-size: 1.2em;
        font-family: "Bodoni Moda", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
 }
 .Carousel_items {
    flex: 0 0 300px;
    height: auto;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid rgba(246, 166, 36, 0.453); */
}
    #About {
        min-height: 60vh;

    }
    .About_container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .About_image img {
        position: absolute;
        bottom: -10px;
        right: -60px;
        width: 60%;
        opacity: 0.3;
        z-index: 0;
        height: auto;
        max-height: 80vh;
    }
    .Recipe_container {
        width: 90%;
    }
    .Recipe_flexitem {
        padding: 10px;
}
    .Recipe_flextext {
        flex-direction: column;
}
    .Recipe_flextext h3 {
        font-size: 1.9em;
        padding: 10px;
}
    .Recipe_flextext p {
        font-size: 1em;
        padding: 3px 7px;
        margin: 0 5px;
}
/*Contact Section*/
#Contact {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        width: 100%;
        background-color: rgba(240, 215, 169, 0.148);
    }
.Contact_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Contact_background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  clip-path: ellipse(95% 95% at 50% 100%);
}
.Contact_container{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0 20px;
    height: auto;
    
}

.Contact_left {
  flex: 1;
   flex-basis: 40%;
  min-width: 200px;
  text-align: left;
 
}
.Contact_left h1 {
    color:#ffffff;
    font-size: 1.3em;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}
.Contact_left p {
    color:#ffffff;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;

}

.Contact_right {
  display: flex;
  flex: 2;
  flex-basis: 60%;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
  min-width: 250px;
  text-align: left;
  padding: 0 5px;


}

.Contact_column {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
    line-height: 30px;
    align-items: center;
}
.Contact_column h1 {
    color:#ffffff;
    font-size: 1.3em;
  text-decoration: none;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;

}
.Contact_column a {
    color:#ffffff;
    font-size: 1em;
  text-decoration: none;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 110.4;


}

}
@media (max-width: 600px) /* Large Mobile  */ {
    #Hero {
        height: auto
    }
    .Hero_wrapper {
        position: relative;
        width: 100%;
        height: 80vh;
        overflow: hidden;
    }
    .Hero_box {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 650px; 
        gap: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .Hero_imagebox {
        position: absolute;
        top: 0;           
        left: 0;          
        width: 100%;      
        height: 100%;     
        z-index: 0;       
        opacity: 0.8
    }
    .hero_image1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: transform 1.5s 
        ease, opacity 800ms 
        ease;
        transform: translateX(100%);
        margin: 0 auto;
}
    
    .Hero_text {
        z-index: 3;
        position: relative;
    }
    .Hero_text h1 {
        font-size: 2em;
        color: #ffffff;
    }
    .Hero_text p {
        font-size: 1em;
        color: #ffffff;
        
    }
    .About_container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .About_image img {
        position:absolute;
       bottom: -30px;
        right: -20px;
        width: 100%;
        opacity: 0.3;
        z-index: 0;
        height: auto;
        max-height: 80vh;
    }
    .Products_text h1 {
        font-size: 1em;
        font-family: "Bodoni Moda", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
    .Products_track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        will-change: transform;
        transition: transform 0.3s 
    ease;
        gap: 5px;
        margin: 5px;
        user-select: none;
        cursor: grab;
    }
    .Carousel_items {
        flex: 0 0 300px;
        height: auto;
        justify-content: center;
        align-items: center;
        /* outline: 2px solid rgba(246, 166, 36, 0.453); */
    }

    .Products_button {
        width: 100px;
        height: 40px;
        background-color: #333;
        border-radius: 10px;
        cursor: pointer;
        margin: 10px;
    }
    .Products_button p {
        font-size: .9em;
        color: #faf7f3;
        font-family: "Playfair", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 110.4;
}
 .Story_container {
  position: relative;
  z-index: 1;
}

.Story_image img {
    width: 100%;
    height: 350px;
    max-height: 80vh;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(-100px) rotate(-10deg);
    transition: all 0.8s ease-out;
}

.Story_image img.show {
  opacity: .2;
  transform: translateX(0) rotate(0deg);
}
.Story_image1 {
    position: absolute;
    bottom: -30px;
    right: -20px;
    width: 100%;
    opacity: 0.3;
    z-index: 0;
    height: auto;
    max-height: 80vh;
    pointer-events: none;
}
#Contact {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        width: 100%;
        background-color: transparent; /* Change from rgba(240, 215, 169, 0.148) to transparent */
        padding: 0;
    }
    
    .Contact_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    
    .Contact_background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        clip-path: ellipse(100% 100% at 50% 100%); /* Keep your ellipse */
    }
    
    .Contact_container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction:column-reverse;
        width: 80%;
        height: auto;
        padding: 40px;
    }
    
    .Contact_left {
        flex: 1;
        flex-basis: 40%;
        min-width: 0;
        text-align: left;
        line-height: 1.2;
        padding: 20px;
    }
    
    .Contact_right {
        display: flex;
        flex: 2;
        flex-basis: 60%;
        justify-content: space-around;
        gap: 5px;
        width: 100%;
        height: auto;
        min-width: 170px;
        text-align: left;
        padding: 0 5px;
    }
    
    .Contact_column {
        flex: 1;
        min-width: 100px;
        max-width: 150px;
        display: flex;
        gap: 20px;
        line-height: 20px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .Contact_left h1,
    .Contact_left p {
        word-wrap: break-word; 
        overflow-wrap: break-word;
    }
    .Contact_column h1 {
        font-size: 1.4em; 
        margin-bottom: 10px;
    }

    .Contact_column i {
        font-size: 3em; 

        
    }
    .Contact_column a,
    .Contact_column h1 {
        display: none;
    }

}
@media (max-width: 450px) /* Small Mobile  */ {
    
    .hero_bread {
        clip-path: ellipse(95% 100% at 10% 0%);
        position: absolute;
        z-index: 1;
        opacity: 1;
}
    .Hero_box {
        height: 680px;
    }
    .Story_text h1 {
        font-size: 2em;
    }
    .Story_text p {
        font-size: 1em;
        color: #000000;
        padding: 20px;
        text-align: center;
        font-family: "Playfair", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 110.4;
    }
    .Products_track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        will-change: transform;
        transition: transform 0.3s 
    ease;
        gap: 5px;
        margin: 5px;
        user-select: none;
        cursor: grab;
    }
    .Carousel_items {
        flex: 0 0 300px;
        height: auto;
        justify-content: center;
        align-items: center;
        /* outline: 2px solid rgba(246, 166, 36, 0.453); */
    }

    .Products_button {
        width: 100px;
        height: 40px;
        background-color: #333;
        border-radius: 10px;
        cursor: pointer;
        margin: 10px;
    }
    .Products_button p {
        font-size: .9em;
        color: #faf7f3;
        font-family: "Playfair", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 110.4;
}
    .About_text h1 {
        font-size: 1.6em;
        color: #050505;
        padding: 20px;
        font-family: "Bodoni Moda", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    .About_text p {
        font-size: 1em;
        color: #000000;
        padding: 20px;
        font-family: "Playfair", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 110.4;
    }
    
    .About_button {
        align-items: center;
        width: 50%;
        height: auto;
        background-color: #000000;
        cursor: pointer;
        text-align: left;
        margin: 0 auto;
    }
    .About_button p {
        font-size: 1.2em;
        color: #e9e5e5;
        text-align: center;
        padding: 15px;
        font-family: "Playfair", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 110.4;
    }
    .About_image img {
        position: absolute;
        bottom: -30px;
        right: -20px;
        width: 100%;
        opacity: 0.3;
        z-index: 0;
        height: auto;
        max-height: 80vh;
    }
    #Recipe h1 {
        text-align: center;
        font-size: 1.6em;
        font-family: "Bodoni Moda", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

     .Recipe_flextext h3 {
         font-size: 1.3em;
        padding: 10px;
        }

    .Story_container {
  position: relative;
  z-index: 1;
}

.Story_image img {
    width: 100%;
    height: 350px;
    max-height: 80vh;
    border-radius: 20px;
    opacity: 0;
    transform: translateX(-100px) rotate(-10deg);
    transition: all 0.8s ease-out;
}

.Story_image img.show {
  opacity: .2;
  transform: translateX(0) rotate(0deg);
}
.Story_image1 {
  position: absolute;
  bottom: -30px;
  right: -20px;
  width: 100%;
  opacity: 0.3;
  z-index: 0;
  height: auto;
  max-height: 80vh;
  pointer-events: none;
}
    .Contact_container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .Contact_column {
        flex: 1;
        min-width: 100px;
        max-width: 150px;
        display: flex;
        gap: 10px;
        line-height: 20px;
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        padding: 20px 100px 0 0;

    }
    .Contact_column i {
        font-size: 2em;
    }
    
    .Contact_left {
        flex: 1;
        flex-basis: 40%;
        min-width: 0;
        text-align: left;
        line-height: 1.2;
        /* padding: 20px; */

    }
}

@media (max-width: 700px) /* Nav Burger  */ {
    .nav_links {
         display: none;
         flex-direction: column;
         position: absolute;
         top: 60px;
         right: 20px;
         z-index: 1;
    }

    .nav_links.active {
        display: flex;
        width: 93%;
        align-items: center;
        background-color: #00000077;
    }

    .nav_links li:hover {
        background-color: rgba(247, 188, 115, 0.089);
        transition: background-color 0.3s ease;
        border-radius: 20px;
        padding: 0 100px;
    }
  
    .burger_menu {
        display: flex;
        align-items: flex-end;
    }
  
}