*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

nav {
    position: fixed;
    top: 0;
    width: 100%; 
    height: auto;
    background: #fff8f0;
    z-index: 1000;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    outline: 2px solid red;
}
nav ul li {
    outline: 2px solid blue;
    margin: 0 20px;
    padding: 10px 0;
    height: 50px;
}

nav ul li a {
    outline: 2px solid green;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 5px;
    color: rgb(0, 0, 0);
}

/*
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    justify-content: center;
    align-items: center;
}
*/
.section_container{
    width: 100%;
    max-height: 100vh;
    max-width: 1300px;
    margin: 0 auto;
    outline: 2px solid rgb(100, 8, 8);
}

/*Hero Section*/
#Hero {
    /*background-color: aquamarine;*/
    height: 80vh;
    outline: 2px solid black;
}
.Hero_wrapper {
 position: relative;
 width: 100%;
 height: 80vh;
 overflow: hidden;
 outline: 2px solid orange;

}

.hero_bread {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    object-fit: cover;
    z-index: 1; /* Push it behind everything */
    opacity: 0.9; /* Optional: dim the image for contrast */
    outline: 2px solid salmon;
}

.Hero_box{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    height: 300px;
    gap: 20px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 2;
    /*outline: 2px solid rgb(255, 255, 255);*/
}
.Hero_text {
    width: 60%;
    height: auto;
    /*outline: 2px solid rgb(0, 42, 255);*/
}
.Hero_text h1 {
    font-size: 5em;
    color: #faf7f3;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}

.Hero_text p {
    font-size: 1.8em;
    color: #f0eae7;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.Hero_imagebox {
    outline: 2px solid red;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero_image1{
 
  
    height: 1000px;
    width: 100%;
  max-width: 100%;
  border: 4px solid whitesmoke;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4); /* adds depth */
  transform: scale(1.05); /* slight zoom */
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}


/*global for section*/
.section_container{
    justify-content: center;
    align-items: center;
    outline: 2px solid red;
}

/*About Section*/
#About {
    height: 100vh;
    background-color: antiquewhite;
    
}

/*Products Section*/
#Products {
    height: 100vh;
    background-color: rgb(220, 143, 41);
}
/*Recipe Section*/
#Recipe {
    height: 100vh;
    background-color: rgb(127, 79, 16);
}
/*Contact Section*/
#Contact {
    height: 100vh;
    background-color: rgb(197, 164, 119);
}